@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';
.preloader{
    width:100%;
    height:100%;
    top:0;
    position:fixed;
    z-index:99999;
    background:#fff
}
.preloader .cssload-speeding-wheel{
    position:absolute;
    top:calc(50% - 3.5px);
    left:calc(50% - 3.5px)
}
body{
    background:#fff
}
.logo i{
    color:#fff
}
.top-left-part .light-logo{
    display:inline-block
}
.top-left-part .dark-logo{
    display:none
}
.navbar-header{
    background:#ffff
}
.navbar-top-links>li>a{
    color:#252828
}
.right-sidebar .rpanel-title{
    background:#f75b36
}
.bg-title .breadcrumb .active{
    color:#f75b36
}
.sidebar{
    background:#ffff;
}
.sidebar .label-custom{
    background:#00b5c2
}

.sidebar .label-custom{
    background:#00b5c2
}
#side-menu li a{
    color:#54667a;
    border-left:0 solid #fff
}
#side-menu>li>a:focus,#side-menu>li>a:hover{
    background:#1c9cd9;
    color : #ffff;
}
#side-menu>li>a.active{
    border-left:3px solid #f75b36;
    color:#3e4d6c;
    font-weight:500
}
#side-menu ul>li>a:hover,#side-menu>li>a.active i{
    color:#f75b36
}
#side-menu ul>li>a.active{
    color:#3e4d6c;
    font-weight:500
}
.sidebar #side-menu .user-pro .nav-second-level a:hover{
    color:#f75b36
}
.bg-theme{
    background-color:#f75b36!important
}
.bg-theme-dark{
    background-color:#00b5c2!important
}
.chat-list .odd .chat-text{
    background:#f75b36
}
.btn-custom{
    background:#f75b36;
    border:1px solid #f75b36;
    color:#fff
}
.btn-custom:hover{
    background:#f75b36;
    opacity:.8;
    color:#fff;
    border:1px solid #f75b36
}
.customtab li.active a,.customtab li.active a:focus,.customtab li.active a:hover{
    border-bottom:2px solid #f75b36;
    color:#f75b36
}
.tabs-vertical li.active a,.tabs-vertical li.active a:focus,.tabs-vertical li.active a:hover{
    background:#f75b36;
    border-right:2px solid #f75b36
}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
    background:#f75b36;
    color:#fff
}
