.img-gif-rm {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    }
    .show {
    display: block;
    }
    .container, .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100vh;
    }
    .alert {
    border: 0;
    border-radius: 0;
    padding: 20px 15px !important;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    }
    .alert .alert-icon {
    display: block;
    float: left;
    margin-right: 1.071rem;
    }
    .container { width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    }
    .alert b {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    }
    .close {
    float: right;
    font-size: 1.5rem;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    }
    .alert .close {
    color: #fff;
    text-shadow: none;
    opacity: .9;
    }
    .alert .close i {
    font-size: 20px;
    }
    .alert .close:hover{
    opacity: 1;
    color: #fff;
    }
    .alert.alert-info {
    background-color: #00cae3;
    color: #fff;
    }
    .alert.alert-success {
    background-color: #55b559;
    color: #fff;
    }
    .alert.alert-warning {
    background-color: #ff9e0f;
    color: #fff;
    }
    .alert.alert-danger {
    background-color: #f55145;
    color: #fff;
    }
    .alert.alert-primary {
    background-color: #a72abd;
    color: #fff;
    }
    .tab-content {
    width: 100%;
    margin: 10px;
    padding: 10px;
    }

    html, body {margin: 0 !important; height: 100%!important; overflow: hidden!important;}

   .tabs {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   }
   .tabs label {
   -webkit-box-ordinal-group: 2;
   -webkit-order: 1;
   -ms-flex-order: 1;
   order: 1;
   display: block;
   padding: 1rem 2rem;
   margin-right: 0.2rem;
   cursor: pointer;
   background: #90CAF9;
   font-weight: bold;
   -webkit-transition: background ease 0.2s;
   transition: background ease 0.2s;
   }
   .tabs .tab {
   -webkit-box-ordinal-group: 100;
   -webkit-order: 99;
   -ms-flex-order: 99;
   order: 99;
   -webkit-box-flex: 1;
   -webkit-flex-grow: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   width: 100%;
   display: none;
   padding: 1rem;
   background: #fafafa;
   }
   .tabs input[type="radio"] {
   position: absolute;
   opacity: 0;
   }
   .tabs input[type="radio"]:checked + label { background: #fafafa; }
   .tabs input[type="radio"]:checked + label + .tab { display: block; }
   @media (max-width: 45em) {
   .tabs .tab,  .tabs label {
   -webkit-box-ordinal-group: NaN;
   -webkit-order: initial;
   -ms-flex-order: initial;
   order: initial;
   }
   .tabs label {
   width: 100%;
   margin-right: 0;
   margin-top: 0.2rem;
   }
   }

   .boxContent {
      padding : 15px;


   }
   .border-content-main {
      box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
      /* border: solid 1px black; */
      height: 500px;
      max-height: 500px;
      padding : 0px 0px !important;
      /* border-radius: 15px; */
      border: 1px solid #ddd;
   }
   .p-15 {
      padding: 15px !important;
   }
   .ovr-auto {
      overflow : scroll ;
      box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
      max-height: 440px;
      padding: 0px 0px !important;
   }
   .ovr-auto-notif {
      overflow: scroll;
      border-bottom: 1px solid #e4e4e4;
      max-height: 440px;
      padding: 25px 35px !important;
     
   }
   .m-10{
      margin: 10px  !important;;
   }
   .b-s-0 {
    box-shadow: 0 !important;
   }
   .bg-blue{
      background-color: #45619f !important;
   }
 
.page-wrapper.toggled .page-content {
    padding-left: 264px !important;
}
.b-t-tab {

    width: 100% !important;
    border-radius: 0px !important;
    border-left: 1px solid #fff !important;
    height: 40px !important;
}
.m-0 {
   margin: 0px !important;
   padding: 0px;
}
.border-notif {
   border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
    margin-right : 20px;
    border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   margin-bottom : 10px;
}

.date-notification {
    background-color: #45619f;
    padding: 15px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}
.text-status-notif {
    margin-left:auto;
    margin-right:auto;
}
.body-notif {
   padding: 10px;
   border-right: 2px solid rgba(0,0,0,.160784);
   min-height: 100%;
}

.detail-notif{
   padding: 8px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
  
}

.button__bluesmall {
    color: #fff;
    background-color: #45619f;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
    height : 70%;
    width: 90%;
}
.button__bluesmall:hover {
    color: #fff;
    background-color: rgba(0,0,0,.160784);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
    height : 70%;
    width: 90%;
}


