
   .boxContent {
    padding : 15px;


 }
 .border-content-main {
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    /* border: solid 1px black; */
    height: 500px;
    max-height: 500px;
    padding : 0px 0px !important;
    /* border-radius: 15px; */
    border: 1px solid #ddd;
 }
 .p-15 {
    padding: 15px !important;
 }
 .ovr-auto {
    overflow : scroll ;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    max-height: 440px;
    padding: 0px 0px !important;
 }
 .m-10{
    margin: 10px  !important;;
 }
 .b-s-0 {
  box-shadow: 0 !important;
 }

.page-wrapper.toggled .page-content {
  padding-left: 264px !important;
}
.b-t-tab {

  width: 100% !important;
  border-radius: 0px !important;
  border-left: 1px solid #fff !important;
  height: 40px !important;
}
.m-0 {
 margin: 0px !important;
 padding: 0px;
}
.border-notif {
 border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
  margin-right : 20px;
  border-bottom-left-radius: 10px;
 border-top-left-radius: 10px;
 border-bottom-right-radius: 10px;
 border-top-right-radius: 10px;
 margin-bottom : 10px;
}

.date-notification {
  background-color: #45619f;
  padding: 15px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  
}
.text-status-notif {
  margin-left:auto;
  margin-right:auto;
  line-height: 18px;
}
.body-notif {
 padding: 10px;
 border-right: 2px solid rgba(0,0,0,.160784);
}

.detail-notif{
 padding: 8px;
 border-bottom-right-radius: 10px;
 border-top-right-radius: 10px;
 line-height: 0px !important;

}

.button__bluesmall {
  color: #fff;
  background-color: #45619f;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
  height : 70%;
  width: 90%;
}
.button__bluesmall:hover {
  color: #fff;
  background-color: rgba(0,0,0,.160784);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.160784);
  height : 70%;
  width: 90%;
}