.w-150 {
	width: 150px;
}

.mb-10 {
	margin-bottom: 10px;
}

.w-100 {
	width: 100%;
}

.add-level {
	margin-left: 3%;
	color: #229bd8;
}

.white-box {
	background: #fff;
	border-radius: 5px;
    padding: 5rem !important; 
    margin-bottom: 1rem;
}
